.container {
    display: flex;
    justify-content: center;

    .grid-1 {
        display: grid;
        width: 50%;
        max-width: 800px;
        margin: 2rem;
        grid-template-columns: auto 15rem;
        grid-template-rows: auto auto;
        grid-gap: 5px;
        justify-content: center;

        grid-template-areas:
            "title   title  "
            "img     txt   ";

            .item-1 {
                background-color: #630000;
                grid-area: title;
                border:  double 5px white;
                .title1{
                    text-align: center;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 1rem;
                }
            }
            .item-2 {
                    background: white;
                    grid-area: img;
                    .foto_amigos{
                        width: 30rem;
                    
                    }
            }
            .item-3 {
                    background: #630000;
                    grid-area: txt;
                    border:  double 5px white;
                    .txt1{
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        padding: 1rem;
                        font-size: 1.6rem;
                    }
            }
            
    }
    .grid-2{
        display: grid;
        width: 50%;
        max-width: 800px;
        margin: 2rem;
        grid-template-columns: auto 15rem ;
        grid-template-rows: auto auto ;
        grid-gap: 5px;
        justify-content: center;
        
        
        grid-template-areas: 
        "title   title  "
        "img     txt   ";

        .item-4 {
            background-color: #630000;
            grid-area: title;
            border:  double 5px white;
            .title2{
                text-align: center;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                padding: 1rem;
            }
        }
        .item-5 {
            background: #630000;
            grid-area: img;
            .foto_esquina{
                width: 30rem;
            }
        }
        .item-6 {
            background: #630000;
            grid-area: txt;
            border:  double 5px white;
            .txt2{
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                padding: 1rem;
                font-size: 1.6rem;
            }
        }
    }
    @media only screen and (max-width: 990px){
        .grid-1 {
            display: grid;
            width: 85%;
            margin: 1rem;
            
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            grid-gap: 5px;
            
            grid-template-areas:    "title"
                                    "img"
                                    "txt";
        }  
        .grid-2 {
            display: grid;
            width: 85%;
            margin: 1rem;
            
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto auto;
            grid-gap: 5px;
            
            grid-template-areas:    "title"
                                    "img"
                                    "txt";
        }
        .foto_amigos{
            width: 40rem;
        }
        .foto_esquina{
            width: 40rem;
        }
    }
}
