/*----------------------- Header ------------------------------------------ */
.headerfondo {
    background-color: white;
}

.headerfondo {
    a:hover {
        color: rgb(194, 6, 6);
        transition: 1s;
        background-position: 0;
    }
    a:hover::before {
        width: 100%;
    }
    a {
        background-image: linear-gradient(to right,
                rgb(194, 6, 6),
                rgb(194, 6, 6)50%,
                #451400 50%);
        background-size: 200% 100%;
        background-position: -100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 1s ease-in-out;
    }
}

header a {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    color: #451400;
}

.barraderecha {
    justify-content: right;
    margin-right: 2rem;
}

.itemscolor {
    color: #451400;
}
header img{
    background-color: #451400;
    padding: .5rem;
    border-radius: 5px;
    margin-left: .7rem;
}
header img:hover{
    box-shadow: #8e0808 3px 3px 3px ;
    transition: 1s;
}
/*----------------------- Header ------------------------------------------ */