body{
    background-color: #451400 ;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import "_header.scss";
@import "_footer.scss";

/* ---- Pagina index ----*/
.image { padding: 3.5rem; }
@import "_grids-index";
@import "_carrousel-index";
@import "_card-index.scss";

/* ---- Pagina Menu ----*/

@import "_menu.scss";


/* ---- Pagina Reservas ----*/

@import "_reservas.scss";


/* ---- Pagina Nosotros ----*/

@import "nosotros.scss"; 


/* ---- Pagina Ubicacion ----*/

@import "_ubicacion.scss"; 

.navbar-toggler-icon {
    color: red;
    background-color: aquamarine;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');