*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Mulish:wght@400;700&family=Raleway:wght@100;400&family=Wix+Madefor+Text:wght@400;500;700&display=swap');





/*----------------------- Main ---------------------------------------------*/



 a:hover{
    color: #630000; 
    cursor: pointer;
    transition:  0.5s  ;
 }
/*---------------------Conocenos---------------------------*/ 
.tituloconocenos{
    font-size: 3rem;
    color: white;
    font-family: 'Lora', serif;
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    padding: 2rem;
    text-align: center;
    text-shadow: 5px 5px 5px #00000069;
    font-weight: bold;

}
.contenedorpadre{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
}
.divs{
    display: flex;
    background-color: #00000069;
    margin: 3rem;
    border-radius: 15px;
   
}
.divs img{
    width: 15rem;
    border: solid 5px #00000069;
}
.divs p{
    color: white;
    font-size: 1.7rem;
    padding: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.divs a{
    text-decoration: none;
    color: rgb(144, 123, 123);
}
.divs a:hover{
    color: #630000; 
    cursor: pointer;
}

@media screen and (max-width: 1210px)  {
.divs{
    flex-direction: column;
    margin: 1rem;
}
.contenedorpadre{
    margin: 1rem;
}
.divs img{
    width: auto;
}
}
@media screen and (max-width: 470px) {
    h5{
        font-size: 1.5rem;
    }
}

/*---------------------Conocenos---------------------------*/ 


/*----------------Ubiacion-----------------------------*/
.ubi{
    font-size: 3rem;
    color: white;
    font-family: 'Lora', serif;
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    padding: 2rem;
    text-align: center;
    text-shadow: 5px 5px 5px #00000069;
    font-weight: bold;
}
.linea{
    color: #fff;
    opacity: 1.5;
} 
.tablaubi{
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 5rem;
    margin: 0 auto;
    background-color: #00000069;
    color: white;
}

.Ubicacion{
    background-color: #00000069;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0  auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 15px;
    border: 3px dashed white;
    
}
.sectionubi{
    margin-bottom: 3rem;
}
.subtitu{
    text-align: center;
    padding-top: 1rem;
    margin: 1rem;
    color: white;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.imgubi{
    display: flex;
    width: 80%;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: white double 5px;
}
.txtubi{
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin-left: 4rem;
    margin-right: 4rem;
}
@media screen and (max-width: 1260px) {
    .imgubi{
        margin-left: 1rem;
        margin-right: 1rem;
        margin: 0 auto;
    }
    .txtubi{
        margin: 0.5rem;
    }
    
}
@media screen and (max-width: 600px)  {
    .tablaubi{
        width: 75%;
    }
    .Ubicacion{
        width: 75%;
    }
}
/*----------------Ubiacion-----------------------------*/